@model ToDo

<h2>New Task</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" method="post">

    <div class="mb-3">
        <label asp-for="subject" class="form-label">Subject</label>
        <select asp-for="SubjectId" class="form-select"
                asp-items="@(new SelectList(ViewBag.Subject, "SubjectId", "Name", Model.SubjectId))">
        </select>
    </div>
   
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>



    <div class="mb-3">
        <label asp-for="DueDate" class="form-label">Due Date: </label>
        <input asp-for="DueDate" class="form-control" type="date" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="StatusId" class="form-label">Status</label>
        <select asp-for="StatusId" class="form-select"
                asp-items="@(new SelectList(ViewBag.Status, "StatusId", "Name", Model.StatusId))">
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
